@import './../mixins/mixins';
.page-2{
  background-image: url('./../../img/fon2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page-2__wrapp{
  display: flex;
  justify-content: center;
  align-items: center;
  @include sizes();
  @include phones() {
    align-items: unset;
  }
}
.page-2__content{
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 80%;
  text-align: left;
  color: white;
  @include phones() {
    justify-content: unset;
    width: 100%;
    padding: 5% 5% 0px 5%;
  }
}
.page-2__title{
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 0;
  &:after{
    @include afterLine(white, 160px, dashed, center);
  }
  @include phones() {
    &:after{
      width: 100px;
    }
  }
}
.page-2__content__text{
  margin-bottom: 0;
  font-size: 30px;
}