.contact{
  display: flex;
  flex-flow: column;
  text-align: center;
  h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3{
    font-size: 24px;
  }
}
.contact__content{
  background:#f8c64d;
}