@import './../mixins/mixins';

.header{
	position: fixed;
	width: 100vw;
	background: #16151a;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap; 
	padding: 10px 5px;
	@include tablets() {
		flex-flow: column wrap; 
	}
}
.logo{
	width: 40px;
	height: 40px;
	background-image: url("./../../img/bat.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.navigation{
	display: flex;
}
.navigation__li{
	padding-right: 10px;
	padding-top: 2%;
	font-weight: bold;
	a{
		color: white;
	}
	@include tablets() {
		padding-right: 0px;
		display: none;
	}
}