@import './../mixins/mixins';

.header{
	// position: fixed;
	// width: 100vw;
	background: #16151a;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap; 
	padding: 10px 5px;
	@include tablets() {
		flex-flow: column wrap; 
	}
}
.logo{
	width: 40px;
	height: 40px;
	background-image: url("./../img/bat.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.navigation{
	display: flex;
	@include tablets() {
		position: relative;
		top: 15px;
		left: 0;
		flex-flow: column;
		background: #16151a;
		padding-bottom: 5px;
		text-align: center;
		transition: 1s;
		display: none;
			@include phones() {
		padding-right: 0px;
		
	}
	}
}
.navigation__li{
	padding-right: 10px;
	padding-top: 2%;
	font-weight: bold;
	a{
		color: white;
		display: block;
		width: 100%;
	}
}
.header-info{
	@include tablets() {
		display: none;
	}
}
.burger{
	display: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	&:hover{
		color: red;
	}
	@include tablets() {
		display: block;
	}
}