@import './../mixins/mixins';
.page-1{
	background-image: url('./../../img/fon1.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #0f2c53;
}
.page-1-wrapp{
	display: flex;
	justify-content: flex-end;
	@include sizes();
	// @include phones() {
	// 	flex-flow: column-reverse;
	// 	justify-content: center;
	// }
}
// LOGO
.page-1__logo{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
}
.page-1__logo__img{
	width: 100%;
	height: auto;
}
// content
.page-1__content{
	display: flex;
	flex-flow: column;
	text-align: right;
	margin-right: 50px;
	@include phones() {
		margin-right: 0px;
		padding: 0 10px 0 10px;
	}
}
.page-1__content__title{
	display: flex;
	flex-flow: column;
	animation-delay: 1s;
	text-align: right;
	&:after{
    @include afterLine(#0f2c53, 99%, dashed, flex-end);
	}
	@include tablets() {
		&:after{
    @include afterLine(#0f2c53, 90%, dashed, flex-end);
		}
	}
}
.page-1__content__text{
	animation-delay:3s;
	font-size: 36px;
	@include phones() {
	}
}
// Actions btn
.page-1__action__btn{
	font-size: 30px;
	display: flex;
	@include phones() {
		padding: 0;
	}
}
.page-1__action__li{
	flex: 1;
	padding: 2%;
	background: #fd9c2a;
	text-align: center;
	animation-delay: 4s;
	margin-right: 5px;
	border-radius: 10px;
	a{
		color: #0f2c53;
		font-family: 'Open Sans', sans-serif;
	}
	&:hover{
		background: #ffc058;
	}
}
.page-1__action__li_left{
	border-right: 1px solid grey;
}
// Anim Cristals
.cris1{
	position: absolute;
	width: 42px;
	height: 3.375rem;
	left: 16rem;
	top: 9rem;
	@include tablets() {
		height: 3.375rem;
		left: 10rem;
		top: 5rem;
	}
	@include phones() {
		height: 5.375rem;
		left: 5.3rem;
		top: 9rem;
	}
}
.cris2{
	position: absolute;
	width: 3.625rem;
	height: 5.375rem;
	left: 17rem;
	top: 30rem;
	@include tablets() {
		width: 3.625rem;
		height: 5.375rem;
		left: 10rem;
		top: 17rem;
	}
	@include phones() {
		height: 7.375rem;
		left: 5.3rem;
		top: 31rem;
		width: 3rem;
	}
}