@import './../mixins/mixins';

.second{
	display: flex;
	flex-flow: column;
	background: url('../img/fon2.png') no-repeat 100% 100%;
	max-width: 100%;
	color: black;
	font-size: 18px;
}
.second-top__paragraf{
	line-height: 1.6rem;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
.second-bottom{
	display: flex;
	padding-bottom: 50px;
	h4{
	text-align: center;
	}
	@include tablets() {
		flex-flow: column;
	}
}
.second-bottom__video{
	flex: 1;
}
.second-bottom__motive{
	flex: 1;
}