@import './../mixins/mixins';

.three{
  background: #f8c64d;
  text-align: center;
  @include phones() {
  width: 100%;
  ul{
    margin: 0;
    padding: 2px;
  }
	}
}
.three__title{
  margin-bottom: 25px;
  h2{
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  h3{
    font-size: 24px;
    color: black;
    margin: 10px 10px;
  }
}
.three__ul{
  color: #27282b;
  list-style: none;
  font-size: 18px;
  span{
    color: white;
  }
}
.three__li{
  display: flex;
  margin-bottom: 10px;
  text-align: left;
  span{
    font-weight: bold;
  }
  @include tablets() {
    flex-flow: column;
	}
}
.three__li_left, .three__li_right{
  flex: 1; 
  @include tablets() {
    padding-bottom: 20px;
	}
}
.three__li_right{
  padding-top: 30px;
  @include tablets() {
    padding-top: 0px;
	}
}
.three__text-bottom{
  font-size: 24px;
  color: black;
  // text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 50px;
}