//mixins
@import "mixins/mixins.scss";
//shared
@import "shared/**/*";
//blocks
@import "blocks/**/*";
// main style
@font-face { 
  font-family: ' Century Gothic'; 
  src: 
       url('./../fonts/CenturyGothic.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('./../fonts/CenturyGothic.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
html{
  @include tablets() {
		font-size: 14px;
  }
  @include phones() {
		font-size: 10px;
	}
}
body{
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: ' Century Gothic', sans-serif;
}
.wrapper{
  position: relative;
}
h1,h2{
  font-size: 60px;
}
h3{
  font-size: 30px;
}
a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}
li{
  list-style: none;
}
.img{
  width: 100%;
  height: auto;
}
// 
.section{
  text-align: center;
}

// Временно
.slide{
  background: aqua;
}
