//mixins
@import "mixins/mixins.scss";
//shared
@import "shared/**/*";
//blocks
@import "blocks/**/*";
// main style

body{
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}
.wrapper{
  position: relative;
}
a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}
li{
  list-style: none;
}
.img{
  width: 100%;
  height: auto;
}
// 
.section{
  text-align: center;
}

// Временно
.slide{
  background: aqua;
}