//mixins
@import "mixins/mixins.scss";
//shared
@import "shared/**/*";
//blocks
@import "blocks/**/*";
// main style
@font-face { 
  // font-family: ' Century Gothic'; 
  // src: 
  //      url('./../fonts/CenturyGothic.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
  //      url('./../fonts/CenturyGothic.woff') format('woff'); 
  // font-weight: normal; 
  // font-style: normal; 
}
html{
  font-size: 20px;
  // @include tablets() {
	// 	font-size: 13px;
  // }
  // @include phones() {
  //   font-size: 10px;
  //   vertical-align: unset;
	// }
}
body{
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: ' Century Gothic', sans-serif;
  color: white;
}
.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.centered{
  margin: 0 auto;
  width: 90%;
}
p{
  font-size: 18px;
}
mark{
  background: #f8c64d;
}
h1{
  font-size: 38px;
  margin: 0;
}
ul{
  margin: 0;
}
a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.img{
  width: 100%;
  height: auto;
}