//media query
@mixin desktop() {
	@media screen and (max-width: 1200px) {
		@content;
	}
}
@mixin xl() {
	@media screen and (min-width: 1200px) {
		@content;
	}
}
@mixin laptop() {
	@media screen and (max-width: 992px) {
		@content;
	}
}
@mixin tablets() {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
// after
@mixin afterLine($width, $pos) {
	content: "";
	background: url('./../../img/svg/line.svg');
	display: block;
	width: $width;
	align-self: $pos;
	margin-top: 10px;
	height: 20px;
}
@mixin afterLineWhite($width, $pos) {
	content: "";
	background: url('./../../img/svg/lineWhite.svg');
	display: block;
	width: $width;
	align-self: $pos;
	margin-top: 10px;
	height: 20px;
}
@mixin sizes () {
	// height: 100vh;
  max-width: 1600px;
  margin: auto;
}