//media query
@mixin desktop() {
	@media screen and (max-width: 1200px) {
		@content;
	}
}
@mixin laptop() {
	@media screen and (max-width: 992px) {
		@content;
	}
}
@mixin tablets() {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
// after
@mixin afterLine($color, $width, $style, $pos) {
	content: "";
	display: block;
	border: 2px $style $color;
	width: $width;
	align-self: $pos;
	margin-top: 10px;
}

@mixin sizes () {
	// height: 100vh;
  max-width: 1600px;
  margin: auto;
}